<!DOCTYPE html>
<html lang="es">
<head>

    <title>Mi cuenta</title>

    <%-include('partials/head')%>

</head>
   <body>
     
     <%- include('./partials/header') %>

     <main>

           <div class="profile-card">
                
                <h2>Hola <%= user.fullName %> </h2>
                <img src="/images/imagenesDeUsuario/<%= user.avatar %> " alt="Imagen de perfil">
                <p><%= user.email %></p>
         </div>
        

         <div class="Administrar-40">
              <h3>MIS PRODUCTOS</h3><a href="/products/listado">Administrar</a>
            </div>

         <div>
            <img class="banner" src="images/logoYbanner/Banner.gif" alt="banner">
          </div>

          <h3 class="ofertas">OFERTAS MAS DESTACADAS</h3>

         <%-include('./partials/forEach') %>

       </main>
      

     <h4>FORMAS DE PAGO</h4>
        <section class="xd">
            
            <div class="tarjetas">
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-paypal"></i>
            </div>

         
            <img src="/images/envio-a-tod.avif" alt="">
        </section>

            <!-- Footer -->
	        <%- include('partials/footer') %>
	        <!-- /Fototer -->
    </body>
</html>