 <main>
     <section class="productos-ofertas">


     <div class="crear-99"><a href="/products/create">Crear</a></div>
    


     <% products.forEach(product=>{ %>

        <a href="/products/productsDetail/<%=product.id%>">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/<%=product.img %>" alt="" width="150px">
                </div>
                <div class="desc-producto">
                    <h1>
                        <%=product.name%>
                    </h1>
                    <h2>ARS$<%=product.price %>
                    </h2>
                    <div class="info-ofertas">
                        <div class="desc-ofertas">
                            <p class="envio-free">
                                <%=product.envio %>
                            </p>
                            <p>
                                <%=product.ver %>
                            </p>
                        </div>
                    </div>    
                 <button class="carro-ofertas"><i class="fas fa-shopping-cart"></i></i></button>                   
                </div>
            </article>
        </a>
        <div class="desaparece-aparece">

            <form action="/products/productsDetail/<%=product.id%>">
                <button>Caracteristicas</button>
            </form>
            <form action="/products/editar/<%=product.id%>">
                <button>Editar</button>
            </form>
        <form action="/products/delete/<%=product.id%>" method="post">
            <button>Borrar</button>
        </form>

        </div>
        <% }) %>
        
  </section>
</main>