<section class="productos-ofertas">


    <div class="crear-99"><a href="/products/create">Crear</a></div>
    


    <% products.forEach(product=>{ %>

        <a href="">
            <article class="carta">
                <div class="img-ofertas">
                    <img class="img-ofer" src="/images/<%=product.img %>" alt="" width="150px">
                </div>
                <div class="desc-producto">
                    <h1>
                        <%=product.name %>
                    </h1>
                    <h2>ARS$<%=product.price %>
                    </h2>
                    <div class="info-ofertas">
                        <div class="desc-ofertas">
                            <p class="envio-free">
                                <%=product.envio %>
                            </p>
                            <p>
                                <%=product.ver %>
                            </p>
                        </div>
                        <img src="/images/<%=product.carrito %>" alt="" class="carro-ofertas">
                    </div>
                </div>
            </article>
        </a>
        <div class="desaparece-aparece">
        <div><a href="/products/productDetail<%=product.id%>">Caracteristicas</a></div>
        <div><a href="">Eitar</a></div>
        <div><a href="/products/delete">Borrar</a></div>
        </div>
        <% }) %>
        
</section>